<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'about_page.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="about-section">
  <div class="container">
    <div class="about-content">
      <h1>About Me</h1>
      <p>Hello! I'm Abhishek Rana, a Full Stack Software Engineer with a passion for creating dynamic and efficient web solutions. With expertise in both front-end and back-end technologies, I strive to deliver exceptional digital experiences.</p>

      <p>My journey in web development began during my school days when I was driven by a keen interest in earning money. Always on the lookout for opportunities, I discovered through Google that I could make money by creating a blog and getting it approved by AdSense. This revelation ignited my passion for web development.</p>

      <p>I started creating various blog websites, including an insurance blog, which gave me practical experience in HTML, CSS, JavaScript, and other web technologies. My dedication to learning and innovation led me to pursue a B.Tech in Computer Science, where I further honed my skills.</p>

      <p>After successfully completing my degree, I began freelancing to gain hands-on experience. My journey then took me to a company where I worked for two years, expanding my expertise in full-stack development. Despite the valuable experience, I realized that I thrive best when working independently, enjoying the freedom and flexibility it offers.</p>

      <p>Returning to freelancing, I embraced the autonomy to choose my projects and clients. I believe in the power of working for oneself, where you can continue to grow and get paid for your efforts without being tied to a company. This mindset drives me to deliver exceptional web solutions that not only meet but exceed client expectations.</p>

      <p>With over 4 years of experience as a Full Stack Software Engineer, I specialize in creating innovative and scalable web solutions. My unique blend of leadership, creativity, and intuition ensures that every project I undertake transforms my clients' visions into impactful digital experiences.</p>

      <p>As a professional, I value intuition, creativity, and leadership, ensuring that each project I undertake is managed effectively and delivered on time. I am committed to staying updated with the latest industry trends to provide the most current and effective solutions for my clients.</p>
    </div>
  </div>
</section>

<section class="skills-section">
  <div class="container">
    <div class="skills-content">
      <h2>Skills and Technologies</h2>
      <h3>Technical Skills</h3>
      <ul>
        <li><i class="fas fa-code"></i> HTML, CSS, JavaScript</li>
        <li><i class="fab fa-react"></i> React.js</li>
        <li><i class="fas fa-gem"></i> Ruby</li>
        <li><i class="fas fa-database"></i> Ruby on Rails</li>
        <li><i class="fas fa-code-branch"></i> MySQL</li>
        <li><i class="fas fa-plug"></i> jQuery</li>
      </ul>

      <h3>Soft Skills</h3>
      <ul>
        <li><i class="fas fa-lightbulb"></i> Problem Solving</li>
        <li><i class="fas fa-users"></i> Team Collaboration</li>
        <li><i class="fas fa-clock"></i> Time Management</li>
        <li><i class="fas fa-comments"></i> Communication</li>
        <li><i class="fas fa-brain"></i> Critical Thinking</li>
        <li><i class="fas fa-tasks"></i> Project Management</li>
      </ul>
    </div>
  </div>
</section>

<section class="personal-touch-section">
  <div class="container">
    <div class="personal-touch-content">
      <h2>Personal Interests</h2>
      <div class="card">
        <p>Aside from my coding endeavors, I'm deeply intrigued by the ever-evolving landscape of technology. Exploring new innovations and staying abreast of the latest advancements in the tech world invigorates my passion for learning and growth.</p>
      </div>
      <div class="card">
        <p>In addition to my dedication to software development, I find solace and inspiration in contributing to open-source projects. Collaborating with like-minded individuals allows me to share insights, cultivate creativity, and make meaningful contributions to the community.</p>
      </div>
      <div class="card">
        <p>Moreover, I am an advocate for holistic well-being, embracing practices that nurture both mind and body. Through meditation and spiritual exploration, I cultivate inner peace and mental clarity, enabling me to approach challenges with resilience and perspective.</p>
      </div>
      <div class="card">
        <p>My passion for artistic expression knows no bounds. Dance is not merely a hobby but a form of self-expression, allowing me to connect with my emotions and convey narratives through movement. Similarly, playing the flute provides me with a medium to channel my creativity and evoke profound emotions through music.</p>
      </div>
      <div class="card">
        <p>When I'm not immersed in the world of technology or artistic pursuits, you'll find me at the gym or on my yoga mat, dedicated to fostering physical vitality and mental clarity. These practices empower me to maintain balance amidst life's demands, ensuring that I perform at my best in every endeavor.</p>
      </div>
      <div class="card">
        <p>Ultimately, my diverse interests not only enrich my life but also underscore my commitment to personal growth and service to others. By embracing a holistic approach to self-improvement, I strive to cultivate positive energy and professional excellence in all aspects of my life.</p>
      </div>
    </div>
  </div>
</section>

<section class="spirituality-section">
  <div class="container">
    <div class="spirituality-content">
      <h2>Spirituality and Well-being</h2>
      <p>In addition to my passion for technology and web development, I deeply value the practice of yoga and meditation. I believe that our body and mind are the vehicles through which we experience life, and it is essential to nurture and improve them to fully appreciate and enhance our life experiences.</p>
      <p>Why do we earn money? It is to improve our life experience and ensure our survival, much like other creatures in the animal kingdom. However, unlike animals, we have the unique ability to seek deeper meaning and purpose in life. This quest for understanding has led me to explore spirituality and ancient practices.</p>
      <p>In this limitless cosmos, everything seems so perfectly orchestrated, from the intricate workings of the human body to the natural world around us. If it were merely a coincidence, one or two things might align perfectly, but the flawless design seen in every creature, whether human, animal, or insect, suggests otherwise.</p>
      <p>I believe there must be an extra force at work in the universe, a force that ensures everything functions harmoniously. Our ancient ancestors, aware of this greater force, developed technologies and practices like yoga and meditation to help us connect with it. This is why I engage in these practices - to explore and experience this profound connection, enhancing my overall well-being and understanding of the universe.</p>
    </div>
  </div>
</section>

