.logo-div .logo{
  width: 95px;
  filter: brightness(0.8) grayscale(100%);
}

.header{
  background-color: navy; /* Dark background color */
  display: flex;
  justify-content: center;
  opacity: 1; 
  top: 0px;
}

.header .container {
  display: flex;
  justify-content: space-between; /* Align items to the left and right edges */
  align-items: center; /* Center items vertically */
  width: 60%; /* Adjust the width of the container */
}

.items {
  display: flex;
}

.page-link a{
  margin-left: 1rem; /* Adjust spacing between links */
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
  font-size: 25px;
  transition: color 0.3s; 
  font-family: serif;
}

.sign-out-link {
  color:  #fff; /* Initial color */
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px; /* Add some padding to make it look like a button */
  border: 2px solid #DAA520; /* Add a border to enhance the button look */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
  margin: 20px;
  align-items: center;
}

.sign-out-link:hover {
  background-color: #DAA520; /* Change background on hover */
  color: #ffffff; /* Text color on hover */
  border-color: #DAA520 /* Border color on hover */
}


.page-link a:hover {
  color: #DAA520 !important;
}

.social-media .linkd-in, .social-media .git-hub{
  display: inline-block; 
  width: 30px; 
  height: 30px; 
  background-size: cover; 
  background-repeat: no-repeat; 
  text-indent: -9999px; 
}

.social-media .linkd-in {
  background-image: url('linkedin.png');
}

.social-media .linkd-in:hover {
  background-image: url('linkedin2.png');
}

.social-media .git-hub {
  background-image: url('github.png');
}

.social-media .git-hub:hover {
  background-image: url('github2.png');
}

/* Medium screens (tablets, small desktops) */
@media (max-width: 1024px) {
  .header .container {
    width: 80%;
  }

  .page-link a {
    font-size: 20px; /* Slightly smaller font size */
  }

  .sign-out-link {
    padding: 8px 16px; /* Adjust padding */
  }
}

/* Small screens (large phones) */
@media (max-width: 768px) {
  .header .container {
    width: 90%;
    flex-direction: column; /* Stack items vertically */
  }

  .navbar .items {
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center align links */
  }

  .page-link {
    margin: 10px 0; /* Adjust spacing between links */
  }

  .sign-out-div{
    margin: 15px;
  }

  .sign-out-link {
    padding: 8px 16px; /* Adjust padding */
  }
}

/* Extra small screens (phones) */
@media (max-width: 480px) {
  .logo-div .logo {
    width: 75px; /* Smaller logo */
  }

  .page-link a {
    font-size: 18px; /* Smaller font size */
  }

  .sign-out-link {
    padding: 6px 12px; /* Adjust padding */
    font-size: 18px; /* Smaller font size */
  }
}

